@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap');
:root {
    --green: rgb(84, 230, 175);
    --dark: rgb(18, 23, 37);
    --dark-lighter: rgb(44, 52, 75);
    --white: rgb(255, 255, 255);
    --gray: rgb(194, 203, 229);
    --gray-darker: rgb(90, 102, 138);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chivo', sans-serif;
    line-height: 28px;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    background-color: var(--green);
    line-height: 1.6;
}

html {
    background-color: #121725;
}

@media (min-width: 280px) {
    .app-wrapper {
        background: var(--dark);
        width: 100%;
        min-height: 100vh;
    }
    .main-pattern {
        display: none;
    }
    .container {
        background: url("../assets/mobile/image-host.jpg") no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    }
    .podcast-app {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 20px;
    }
    .logo {
        text-align: center;
    }
    .app-desc__title h2 {
        text-transform: uppercase;
        margin: 25px 0;
        letter-spacing: 1px;
        font-weight: 400;
        text-align: center;
    }
    .app-desc__title h2 span {
        color: var(--green);
    }
    .app-desc__text p {
        text-align: center;
        color: var(--gray);
        font-size: 1rem;
    }
    .platform-icons {
        display: flex;
    }
    .app-desc__platform-icon {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .app-desc__platform-icon img {
        width: 60px;
        height: 25px;
        cursor: pointer;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    label {
        display: flex;
        flex-direction: column;
    }
    label>* {
        border: none;
        border-radius: 30px;
        padding: 15px;
        margin-bottom: 15px;
    }
    label input {
        background: var(--dark-lighter);
    }
    input:focus {
        padding-left: 15px;
        color: white;
        outline: none;
    }
    input[type="text"]::placeholder {
        padding-left: 10px;
        font-weight: 700;
        color: var(--gray);
    }
    label button {
        background: var(--green);
        color: var(--dark-lighter);
        font-weight: 700;
        cursor: pointer;
        transition: 0.2s all;
    }
    label button:hover {
        opacity: 0.8;
    }
    .validation-msg {
        display: block;
        height: 15px;
        position: relative;
    }
    p.error-msg, p.success-msg {
        font-weight: 700;
        font-style: italic;
        font-size: 0.8rem;
        text-align: left;
        padding-left: 10px;
    }
    p.error-msg, p.success-msg {
        padding-left: 20px;
    }
    p.error-msg {
        color: red;
    }
    p.success-msg {
        color: var(--green);
    }
}

@media (min-width: 768px) {
    .logo {
        order: 1;
    }
    .app-desc__title {
        order: 2;
    }
    .app-desc__text {
        order: 3;
    }
    .platform-icons {
        order: 5;
    }
    form {
        order: 4;
    }
    .container {
        background: url("../assets/tablet/image-host.jpg") no-repeat;
        background-position: right top;
        background-size: contain;
        box-shadow: none;
    }
    .podcast-app {
        width: 85%;
        padding: 0;
        height: 82vh;
    }
    .main-pattern {
        display: block;
        margin: 50px 0 0 50px;
    }
    .podcast-app>* {
        background: var(--dark);
        flex: 1;
        margin: -1px 0;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        min-height: 200px;
    }
    .app-desc__title {
        width: 100%;
        padding-top: 40px;
    }
    .app-desc__title h2 {
        font-size: 2.6rem;
        line-height: 1.5;
        text-align: left;
        padding-left: 20px;
    }
    .app-desc__text p {
        width: 55%;
        padding-right: 30px;
        text-align: left;
        padding-left: 20px;
    }
    .app-desc__title h2, .app-desc__text p, label {
        margin-left: 20px;
    }
    form {
        max-height: 150px;
    }
    label {
        position: relative;
        left: 15px;
    }
    label input[type="text"] {
        width: 450px;
    }
    label button {
        position: absolute;
        width: 205px;
        left: 280px;
        transform: scale(0.9);
    }
    .platform-icons {
        align-items: center;
        justify-content: flex-start;
        padding-left: 40px;
    }
    .app-desc__platform-icon {
        justify-content: flex-start;
    }
    .app-desc__platform-icon img {
        width: 80px;
        height: 30px;
        cursor: pointer;
    }
}

@media (min-width: 1280px) {
    .app-wrapper {
        background: var(--dark);
        max-height: 100vh;
        overflow: hidden;
    }
    .container {
        background: url("../assets/desktop/image-host.jpg") no-repeat;
        background-position: right top;
        background-size: contain;
        background-color: #121725;
        width: 95%;
        height: 85vh;
        margin: 80px auto;
        position: relative;
        right: -80px;
        overflow: hidden;
    }
    .podcast-app {
        width: 50%;
        position: relative;
        top: -140px;
        background: transparent;
        min-height: 100vh;
    }
    .logo {
        width: 45%;
        min-height: 200px;
        justify-content: flex-start;
    }
    .app-desc__title {
        width: 100%;
        max-height: 150px;
    }
    .app-desc__title h2 {
        font-size: 3rem;
        line-height: 1;
        width: 100%;
    }
    .app-desc__text {
        max-height: 100px;
    }
    .app-desc__text p {
        width: 55%;
        padding-right: 30px;
        text-align: left;
    }
    .app-desc__title h2, .app-desc__text p, label {
        margin-left: 20px;
    }
    label {
        position: relative;
        margin-top: 50px;
    }
    label input[type="text"] {
        width: 450px;
    }
    label button {
        position: absolute;
        width: 205px;
        left: 280px;
        transform: scale(0.9);
    }
    .platform-icons {
        max-height: 150px;
        align-items: flex-end;
    }
    .app-desc__platform-icon img {
        width: 100px;
        height: 35px;
        cursor: pointer;
    }
    .main-pattern {
        position: absolute;
        bottom: 0;
        right: 20px;
    }
}

@media (min-width: 1920px) {
    .container {
        background: url("../assets/desktop/image-host.jpg");
        background-size: cover;
    }
}